*.log
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
.DS_Store
.idea/
.vscode/
*.env
*.egg-info/
dist/
build/
*.egg
*.tar.gz
*.whl
coverage/
htmlcov/
.coverage
.coverage.*
nosetests.xml
test_*.py
tests/
